html {
	font-family: Arial, Helvetica, sans-serif;
}
.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container{
  flex: 1; /* Etendre la boite à l'intérieur d'une flexbox. Attention, le parent doit être dans une flexbox*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.chen {
  margin-top: 5vh;
  width: 10vw;
  height: 35vh;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card {
  width: 17vw;
  display: inline-block;
  margin: 1em;
}

.elementType {
   
  margin: 10px;
	padding: 5px 8px 5px 8px;
	display: inline-block;
	border-radius: 6px;
	-webkit-border-radius: 6px; 
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	font-size: 13px;
	font-family: "helvetica neue", Helvetica, Verdana, sans-serif;
	color: #FFF;
	background-color: #68A090;
  border: 1px solid #44685E;

}

.normal {
	background-color: #A8A878;
	border: 1px solid #6D6D4E;
}

.fire {
	background-color: #F08030;
	border: 1px solid #9C531F;
}

.water {
	background-color: #6890F0;
	border: 1px solid #445E9C;
}

.electric {
	background-color: #F8D030;
	border: 1px solid #A1871F;
}

.grass {
	background-color: #78C850;
	border: 1px solid #4E8234;
}

.ice {
	background-color: #98D8D8;
	border: 1px solid #638D8D;
}

.ground {
	background-color: #E0C068;
	border: 1px solid #927D44;
}

.flying {
	background-color: #A890F0;
	border: 1px solid #6D5E9C;
}

.ghost {
	background-color: #705898;
	border: 1px solid #493963;
}

.rock {
	background-color: #B8A038;
	border: 1px solid #786824;
}

.fighting {
	background-color: #C03028;
	border: 1px solid #7D1F1A;
}

.poison {
	background-color: #A040A0;
	border: 1px solid #682A68;
}

.psychic {
	background-color: #F85888;
	border: 1px solid #A13959;
}

.bug {
	background-color: #A8B820;
	border: 1px solid #6D7815;
}

.dark {
	background-color: #705848;
	border: 1px solid #49392F;
}

.steel {
	background-color: #B8B8D0;
	border: 1px solid #787887;
}

.dragon {
	background-color: #7038F8;
	border: 1px solid #4924A1;
}

.fairy {
  background-color: #B998BC;
  border: 1px solid #D8C9D6;
}



