.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container{
  flex: 1; /* Etendre la boite à l'intérieur d'une flexbox. Attention, le parent doit être dans une flexbox*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.chen {
  margin-top: 5vh;
  width: 10vw;
  height: 35vh;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card {
  width: 17vw;
  display: inline-block;
  margin: 1em;
}

.elementType {
  display: inline-block;
  font-weight: bold !important;
  background-color: cornflowerblue;
  border-radius: 0.4em;
  margin: 0.2vw;
  padding: 0.4em 0.4em;
  color: white;
  
}

